html {
  font-size: 62.5%;
}
:root {
  --color-primary: #fc07cf;
  --color-secondary: #e622f0;
  --color-header: #0f0e0f;
  --color-text: #ffffff;
  --color-block: #63e9f3;
  --font-header: "El Messiri", sans-serif;
  --background-color: linear-gradient(
    357deg,
    rgba(243, 99, 201, 1) 30%,
    rgba(28, 190, 194, 1) 100%
  );
}
*,
*::after,
*::before {
  box-sizing: border-box;
  border-radius: 20px;
}
body {
  max-width: 1280px;
  font-family: var(--font-header);
  font-size: 2rem !important;
  background-color: var(--color-header);
  margin: 0 auto !important;
}
.policy {
  background-color: var(--color-text);
}
img,
video {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.card__product::-webkit-scrollbar,
.shop--container::-webkit-scrollbar,
.store-product::-webkit-scrollbar,
.about_zana::-webkit-scrollbar {
  width: 15px;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  scroll-padding: 2px;
}
.card__product::-webkit-scrollbar-track,
.shop--container::-webkit-scrollbar-track,
.store-product::-webkit-scrollbar-track,
.about_zana::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 grey;
  border-radius: 10px;
}
.card__product::-webkit-scrollbar-thumb,
.shop--container::-webkit-scrollbar-thumb,
.store-product::-webkit-scrollbar-thumb,
.about_zana::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.card__product::-webkit-scrollbar-corner,
.shop--container::-webkit-scrollbar-corner,
.store-product::-webkit-scrollbar-corner,
.about_zana::-webkit-scrollbar-corner {
  display: none;
}
.card__product,
.shop--container,
.store-product,
.about_zana {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes carousel-table_img {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slide-img_2 {
  100% {
    transform: translate(110%);
  }
}
@keyframes slide {
  100% {
    transform: translate(2%, 0);
  }
}
@keyframes flip-right {
  100% {
    transform: translatex(0) scalex(1);
    background-color: var(--color-header);
  }
}
@keyframes flip {
  100% {
    transform: translateY(0) scaleY(1);
    background-color: var(--color-header);
  }
}
@keyframes flickering {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lights {
  25% {
    transform: scale(1);
    color: blue;
  }
  50% {
    transform: scale(1);
    color: red;
  }
  75% {
    transform: scale(1);
    color: yellowgreen;
  }
  100% {
    transform: scale(1);
    color: orange;
  }
}
@keyframes carousel-1 {
  25% {
    transform: translate(-130px, -100%);
  }
  50% {
    transform: translate(0px, -200%);
  }
  75% {
    transform: translate(130px, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes carousel-2 {
  25% {
    transform: translate(130px, -100%);
  }
  50% {
    transform: translate(260px, 0%);
  }
  75% {
    transform: translate(130px, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes carousel-3 {
  25% {
    transform: translate(-130px, 100%);
  }
  50% {
    transform: translate(-260px, 0%);
  }
  75% {
    transform: translate(-130px, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes carousel-4 {
  25% {
    transform: translate(130px, 100%);
  }
  50% {
    transform: translate(0px, 200%);
  }
  75% {
    transform: translate(-130px, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.carousel-table_img {
  animation: carousel-table_img 20s linear infinite;
}
.slide {
  animation: slide 1.5s ease-out infinite normal;
}
.lights {
  animation: lights 5s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-1 {
  animation: carousel-1 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-2 {
  animation: carousel-2 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-3 {
  animation: carousel-3 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-4 {
  animation: carousel-4 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.flickering {
  animation: flickering 3s 1s infinite normal;
  animation-fill-mode: both;
}
q {
  display: block;
  font-size: 2.5rem;
  color: var(--color-text);
  quotes: '"' '"' "'" "'";
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
.product_card-label,
.size-btn {
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 white;
}
input[type="checkbox"] {
  opacity: 0;
}
select {
  border-radius: 10px;
  font-size: 1.6rem;
  outline: none;
  color: black;
  box-shadow: 0 0 3px 1px var(--color-primary);
}
select:hover,
select:focus {
  box-shadow: inset 0 0 3px 1px var(--color-primary);
}
.list {
  list-style-type: none;
  letter-spacing: 2px;
  padding: 0;
}
img {
  height: 100%;
  display: block;
}
h1 {
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
  color: silver;
}
h2 {
  font-size: 2.5rem;
  color: var(--color-primary);
}
h3 {
  color: var(--color-secondary);
  margin: 1rem auto;
}
p {
  color: var(--color-text);
}
.badge {
  display: block;
  width: 50%;
  text-align: center;
  color: var(--color-text);
  border: 4px solid blue;
  font-size: 2.5rem;
  padding: 4px 0 0;
  font-weight: 900;
  white-space: nowrap;
}
@media screen and (max-width: 520px) {
  .flip {
    animation: flip 3s ease-out 2s 1 normal running;
    animation-fill-mode: forwards;
  }
}
@media screen and (min-width: 520px) {
  .flip-right {
    animation: flip-right 3s ease-out 1s 1 normal running;
    animation-fill-mode: forwards;
  }
}
.grid {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}
.grid--2 {
  display: grid;
  grid-template: repeat(3, 130px) / repeat(3, 130px);
}

.flex__box {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 90rem;
  background: var(--color-block);
  justify-items: center;
  text-align: center;
  letter-spacing: 2px;
  padding: 1.5rem;
  margin: 4rem auto;
  flex-direction: column;
  box-shadow: 0px 0px 4px 2px silver;
  place-self: center;
}
@media screen and (max-width: 940px) {
  .container {
    margin: 4rem 2rem;
  }
}
.top-selector {
  width: 3rem;
  height: 3rem;
  background-color: silver;
  box-shadow: 0 0 15px 2px silver;
  position: fixed;
  top: 27%;
  left: 93%;
  transform: translate(-27%, -80%);
}
/* Header */
.header {
  margin: 1rem;
  border-radius: initial;
  justify-content: center;
  border-bottom: 1px solid silver;
}
.btn {
  background-color: var(--color-secondary);
  text-align: center;
  border-style: none;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  padding: 8px;
}

.header__letter {
  color: var(--color-primary);
  border-right: 2px solid silver;
  margin-right: 1.8rem;
  font-size: 9rem;
  padding-right: 10px;
  margin-top: 3rem;
  margin-bottom: 0;
}
.header__zana {
  display: flex;
  justify-content: center;
}
.collection {
  margin: 10px auto 5px;
  color: silver;
  text-align: center;
  letter-spacing: 8px;
}
.header__menu-grid {
  padding: 2rem;
  margin-bottom: 1.5rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 1fr);
}
.header__menu-list {
  box-shadow: 0 0 4px 2px silver;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
.header__icon {
  color: var(--color-secondary);
  margin-right: 0.5rem;
}
@media screen and (max-width: 390px) {
  .header__letter {
    font-size: 6rem;
    padding: 0.5rem;
    box-shadow: 3px 0px 0px -1px silver;
  }
  .header__collection {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 868px) {
  .header__menu-grid {
    grid: repeat(3, 1fr) / repeat(2, 1fr);
  }
  .list__home {
    grid-column: span 2;
  }
}
/* Hero */
.hero {
  max-width: 70rem;
  background-color: var(--color-block);
  box-shadow: 0 0 4px 2px silver;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 4rem auto;
}
.hero__slogan h2 {
  background-color: whitesmoke;
  margin: auto 1rem;
  box-shadow: 0 0 20px 8px whitesmoke;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
}
.hero__slogan h2::before {
  content: "#";
}
.hero__slogan .btn {
  display: inline-block;
  width: 17rem;
  height: 4rem;
  margin: 10px 0 20px 0;
}
@media screen and (max-width: 730px) {
  .hero {
    flex-wrap: wrap;
    margin: 3rem 2rem;
  }
  .hero__img {
    width: 60%;
    max-width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .hero__slogan h2 {
    font-size: 2.2rem;
  }
}
/* Autism Section */
.autism {
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 0.5rem;
}
.autism__speak {
  background-color: var(--color-header);
}
.autism__speak-items em {
  color: var(--color-secondary);
}
.autism__speak-items #autism::after {
  content: "!";
  color: var(--color-secondary);
}
#autism,
#five {
  color: var(--color-text);
  font-size: 2.5rem;
}
.autism__speak-items {
  padding: 1rem;
}
.container--logo {
  display: inline-block;
}
#five::after {
  content: "%";
}
.autism h2 {
  margin-top: 0;
}
#hashtag {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
}
.autism__hashtag::before {
  content: "#";
  font-size: 2.2rem;
  color: var(--color-primary);
}
.autism__speak-items h2 {
  text-transform: capitalize;
}
.container--support {
  background-color: var(--color-header);
  padding: 1rem;
}
.container--video {
  grid-row: span 2 / 1;
}
.container--video video {
  max-height: 50rem;
  box-shadow: 0 0 11px 4px #ffffff;
}
@media screen and (max-width: 780px) {
  .autism {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .autism {
    margin: 2rem;
  }
  .container--support p {
    font-size: 1.8rem;
  }
  .autism__hashtag {
    font-size: 2rem;
  }
}
/* Carousel Block */
.carousel__container-img {
  flex: 1;
  justify-content: center;
}
.carousel__container-list {
  flex: 1;
  font-size: 3rem;
  padding: 1rem;
  line-height: 1.8;
  align-self: center;
}
.carousel__img {
  border: 2px solid var(--color-secondary);
  border-radius: 100px;
  box-shadow: 0 0 15px 2px var(--color-primary);
}
.carousel__list-template {
  color: var(--color-secondary);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.star,
#immeasurable {
  color: turquoise;
}
.star {
  margin: 1rem;
}
.img-1 {
  grid-area: 3 / 2;
}
.img-2 {
  grid-area: 2;
}
.img-3 {
  grid-area: 2 / 3;
}
.img-4 {
  grid-area: 1 / 2;
}
@media screen and (max-width: 400px) {
  .carousel {
    flex-direction: column-reverse;
  }
  .carousel__container-img {
    grid-template: repeat(2, 130px) / repeat(2, 130px);
    margin: 0 auto;
  }
  .carousel-1 {
    animation-name: none;
    grid-area: auto;
  }
  .carousel-2 {
    animation-name: none;
    grid-area: auto;
  }
  .carousel-3 {
    animation-name: none;
    grid-area: auto;
  }
  .carousel-4 {
    animation-name: none;
    grid-area: auto;
  }
}
@media screen and (max-width: 835px) {
  .carousel {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 437px) and (max-width: 584px) {
  .carousel__container-list {
    text-align: center;
  }
}
/* Magnifier Block */
.fabric--container {
  flex-direction: row;
  position: relative;
}
.magnifier {
  padding: 1rem;
  flex: 1;
}
.magnifier-1 {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  grid-row: 1;
}
.magnifier-2 {
  max-width: 18rem;
  border: 2px solid var(--color-secondary);
  border-radius: 100%;
  z-index: 2;
  filter: brightness(1.5);
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}
.magnifier__img {
  height: auto;
}
.fabric__explained {
  flex: 1;
  padding: 1rem;
  place-self: center;
  line-height: 1.3;
}
.fabric__types {
  text-transform: uppercase;
  border: 2px solid;
  width: 20rem;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  margin-left: 4px;
}
.fabric__explained h2 {
  text-transform: uppercase;
}
.fabric__types:hover {
  opacity: 0.5;
}
@media screen and (max-width: 688px) {
  .fabric--container {
    flex-direction: column-reverse;
  }
  .magnifier-2 {
    max-width: 17rem;
  }
  .magnifier-2 {
    top: 84%;
    left: 16%;
    transform: translate(-16%, -84%);
  }
}
@media screen and (max-width: 600px) {
  .magnifier-2 {
    max-width: 12rem;
  }
}
/* Shop */
.shop__collection {
  font-size: 4rem;
  text-align: start;
  margin: 4rem;
}
.shop--container {
  height: 51rem;
  min-height: min-content;
  flex-direction: row;
  overflow: auto;
  justify-content: space-evenly;
}
.shop__cards {
  transform: translate(20%, 0%);
  display: inherit;
  transition: 1s ease-in;
  touch-action: auto;
}
.card {
  width: 300px;
  height: 490px;
  margin: 0 4rem;
  background-color: var(--color-secondary);
  box-shadow: 7px 6px 2px 0px purple;
  transition: 0.3s;
  flex: 1;
}
.card h2 h3 h4 {
  font-weight: 600;
}
.shop__card {
  padding: 1rem;
}
.card__product {
  width: 280px;
  height: 360px;
  background-color: var(--color-secondary);
  box-shadow: inset 1px 1px 80px 24px lightgrey;
  overflow: hidden scroll;
  scroll-behavior: smooth;
}
.card__price {
  width: 28rem;
  height: 10rem;
  text-align: center;
  align-items: center;
  margin-top: 0.7rem;
  background-color: var(--color-header);
  box-shadow: inset 0 0 18px 1px silver;
}
.badge--price {
  font-size: 3rem;
  color: silver;
  flex: 1;
}
.card__btn {
  width: 10rem;
  background-color: transparent;
  color: var(--color-header);
  box-shadow: inset 0 0 30px 2px white;
  padding: 4px;
  margin-right: 1rem;
}
.model:hover {
  margin-top: 10rem;
  margin-left: 1.5rem;
  transform: scale(1.5, 1.5);
}
.model {
  transition: scale 3s ease-in;
}
@media screen and (min-width: 1020px) {
  .shop__cards:hover {
    transform: translate(20%, 0%);
  }
}
@media screen and (max-width: 860px) {
  .shop__cards {
    transform: translate(30%, 0%);
  }
}
@media screen and (max-width: 700px) {
  .card--container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 570px) {
  .shop__cards {
    transform: translate(35%, 0%);
  }
}
@media screen and (max-width: 410px) {
  .shop__cards {
    transform: translate(40%, 0%);
  }
  .shop__collection {
    font-size: 3rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 340px) {
  .card {
    width: 28.5rem;
  }
  .card__product {
    width: 26.5rem;
  }
  .shop__card {
    margin-left: 0.5rem;
  }
  .model:hover {
    margin-left: 2rem;
  }
}
/* Form */
.form {
  flex-direction: row;
  text-align: start;
}
.form p {
  color: #0f0e0f;
}
.form__subscribe {
  flex: 1;
}
form {
  margin: 0 auto;
  line-height: 1.5;
  flex: 1;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-primary);
}
input[type="text"],
[type="email"],
[type="color"],
[type="password"],
textarea {
  width: 100%;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  box-shadow: 0 0 10px 0 var(--color-primary);
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="color"]:hover,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="color"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
textarea:hover,
textarea:focus {
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: inset 0 0 10px 0 var(--color-primary);
}
button {
  width: 12rem;
  background: var(--color-text);
  color: var(--color-header);
  border: 0;
  padding: 0.5rem 1rem;
  outline: 0;
  margin: 1rem;
  box-shadow: inset 1px -1px 14px 6px lightgrey;
}
button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 638px) {
  .form {
    flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  button {
    width: 10rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .container {
    margin: 2rem;
  }
}
/* instagram-card */
.card--instagram {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.instagram {
  font-size: 6rem;
  margin-top: 16rem;
  color: var(--color-header);
}
.card--instagram h2,
.card--instagram h3 {
  color: var(--color-header);
}
.card--instagram h2 {
  font-size: 7rem;
  letter-spacing: 1.4rem;
  margin: 4.8rem 1rem 0.1rem;
}
.card--instagram h3 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 0;
}
.card--instagram h4 {
  font-size: 1.8rem;
  margin-top: 0;
}
.card--instagram p {
  margin-bottom: 0;
  margin-top: 1rem;
}
/* Footer */
.footer {
  height: 25rem;
  flex-direction: column-reverse;
  border-top: 1px solid silver;
  border-radius: initial;
  margin: 1rem;
}
h5 {
  font-size: 3rem;
  color: #fc07cf;
  margin: 0 auto;
}
.footer__items {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-text);
  padding: 0;
}
.footer__item {
  display: inline-block;
  color: var(--color-primary);
  padding: 1rem;
  margin: 0.5rem auto;
}
.copy {
  flex: 1;
}
.copy,
.copy__reserved {
  color: var(--color-text);
  text-align: center;
  font-size: 1.5rem;
}
.footer__list {
  place-self: center;
  flex: 1;
}
@media screen and (max-width: 554px) {
  .footer {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 375px) {
  .footer__item {
    font-size: 1.8rem;
  }
}
/* /Store HTML Page */
.store {
  margin-bottom: 5rem;
}
.store-header {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 3rem;
  border-radius: initial;
  text-shadow: -2px 3px #ff00d04d;
  border-bottom: 2px double var(--color-text);
}
/* Banner */
.banner {
  max-width: 100rem;
  height: 55rem;
  position: relative;
  margin: 2rem auto;
  background: var(--color-header);
  box-shadow: 0 0 4px 2px silver;
  overflow: hidden;
}
.banner img {
  filter: brightness(0.4);
}
.banner p {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.store-product {
  flex-direction: row;
  padding-left: 1.2rem;
  overflow: scroll;
}
.product_card {
  margin: 0 3rem;
  padding: 0.8rem;
  column-gap: 1rem;
  touch-action: auto;
  align-content: center;
  flex-direction: column;
}
.product_card-top {
  width: 28rem;
  height: 40rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px 2px silver;
}
.product_card-bottom p {
  font-size: 1.4rem;
}
.product_card-bottom {
  width: 28rem;
  text-align: center;
  transform: translateY(-104%) scaleY(-1);
  background-color: transparent;
  box-shadow: 0 0 5px 1px silver;
  border-bottom: 2px solid silver;
  padding: 0.3rem;
  letter-spacing: 1px;
}
.product_card-btn {
  background: none;
  color: var(--color-text);
  font-size: 1.6rem;
  margin: 2rem auto;
  box-shadow: 0 0 5px 1px white;
}
.description h3 {
  font-size: 2rem;
  color: var(--color-primary);
}
.size-btn {
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
}
.size-p {
  color: var(--color-block);
}
@media screen and (max-width: 1040px) {
  .banner {
    margin: 2rem;
  }
}
@media screen and (max-width: 720px) {
  .product_card {
    transform: translate(45%, 0);
  }
}
@media screen and (max-width: 510px) {
  .store-product {
    padding-left: 1rem;
  }
  .banner p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 380px) {
  .product_card {
    transform: translate(50%, 0);
    margin: 0 1rem;
  }
  .store-product {
    padding-left: 3rem;
  }
}
/* Tabel */
.size-chart {
  margin: 2rem auto;
}
table {
  width: 100%;
  margin: 2.5rem;
}
table,
td,
th,
thead {
  color: var(--color-primary);
  font-size: 1.6rem;
  border: 1px solid var(--color-block);
  border-collapse: collapse;
  padding: 0.4rem;
}
.table-carousel_wrapper {
  width: 100%;
  height: 30rem;
  margin: 1rem auto;
  padding: 1.5rem;
  overflow: hidden;
}
.table_img-carousel {
  width: 125rem;
}
.table_img {
  width: 30rem;
  margin-right: 3rem;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 2px 1px silver;
}

@media screen and (max-width: 440px) {
  table,
  td,
  th,
  thead {
    font-size: 1.3rem;
    padding: 0.2rem;
  }
}
/* Community Page */
.community-header {
  text-align: center;
  margin: 4rem;
  border-bottom: 2px solid var(--color-text);
}
.community-container {
  grid-auto-flow: row;
  margin: 2rem;
  justify-content: center;
  letter-spacing: 1px;
}
.community-container img {
  max-height: 44rem;
  box-shadow: 0 0 10px 0 var(--color-text);
}
.super-star {
  width: 25rem;
  height: 25rem;
  background-color: var(--color-block);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.super-star p {
  display: inline-block;
  color: var(--color-primary);
  transform: translate(30%, 315%);
}
.star-conatiner {
  align-self: center;
  justify-self: center;
  grid-row: 2;
}
.star-conatiner .autism__hashtag {
  font-size: 3rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.2rem;
  box-shadow: 0 0 5px 1px var(--color-text);
}
.community-info {
  padding: 1rem;
  box-shadow: 0 0 10px 0 var(--color-text);
  text-align: center;
  line-height: 1.4;
  grid-row: 4;
}
.community_future {
  position: relative;
}
.community_future img {
  filter: brightness(0.6);
}
.community_future p {
  position: absolute;
  color: var(--color-block);
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 630px) {
  .star-conatiner .autism__hashtag {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 580px) {
  .community-container {
    grid: repeat(2, minmax(25rem, 50rem)) / repeat(2, minmax(25rem, 40rem));
  }
  .community-container img {
    max-height: 50rem;
  }
  .community-info {
    grid-row: auto;
    grid-column: span 2;
  }
  .star-conatiner {
    grid-row: 1;
    grid-column: 2;
  }
}
/* About Us HTML Page */
.about_header,
.contact h2 {
  margin: 3rem;
  text-align: center;
  border-radius: initial;
  border-bottom: 1px solid var(--color-text);
}
.about_header h2 {
  margin-bottom: 0;
}
.about_header h3 {
  font-size: 1.5rem;
  color: silver !important;
  margin-top: 0;
}
.about_header h3 {
  color: var(--color-primary);
}
.about_contents {
  grid-auto-columns: minmax(25rem, 50rem);
  text-align: center;
  justify-content: center;
}
.about_contents img,
.about_vision,
.about_zana {
  box-shadow: 0 0 10px 0 var(--color-text);
}
.about_zana {
  overflow: auto;
  font-size: 1.9rem;
}
.about_zana p {
  text-align: start;
}
.about_vision,
.about_zana {
  padding: 1rem;
}
.about_vision {
  grid-row: 2;
}
.about_vision-btn {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.6rem;
  background: none;
  box-shadow: inset 0 0 10px 0 white;
}
@media screen and (min-width: 720px) {
  .about_contents {
    grid-template: repeat(3, Minmax(25rem, 34rem)) / repeat(
        2,
        minmax(25rem, 50rem)
      );
  }
  .img-door {
    grid-row: 1 / span 2;
  }
  .about_zana {
    grid-column: span 2;
  }
}
/* Contact */
.contact-blocks {
  flex-direction: column;
}
.contact {
  padding: 1rem;
}
.contact-blocks_tagline {
  max-width: 40rem;
  height: 25rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: initial;
  background: linear-gradient(
    357deg,
    rgba(243, 99, 201, 1) 30%,
    rgba(28, 190, 194, 1) 100%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.contact_tagline {
  margin-top: 5rem;
}
.contact input[type="color"] {
  width: 20% !important;
}
.contact-form_container {
  max-width: 40rem;
  align-self: center;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 0 8px 1px var(--color-primary);
}
textarea {
  max-height: 10rem;
}
.about,
.contact {
  margin: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}
@media screen and (min-width: 720px) {
  .contact-form_container {
    max-width: 50rem;
    width: 50rem;
  }
}
/* Account */
.account {
  letter-spacing: 2px;
  margin: 1rem;
}
.account-header {
  text-align: center;
}
.account-form {
  flex: 1;
  padding: 1rem;
  box-shadow: 0 0 8px 1px var(--color-block);
  padding: 0.8rem;
}
.account-actions {
  height: 20rem;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: linear-gradient(
    357deg,
    rgba(243, 99, 201, 1) 30%,
    rgba(28, 190, 194, 1) 100%
  );
  margin: 4rem 0;
}
.account-actions_links {
  margin: 1rem;
  box-shadow: 0 0 8px 1px var(--color-block);
  padding: 0.8rem;
}
.account-actions_links:hover {
  box-shadow: inset 0 0 8px 1px var(--color-block);
}
.account-actions a {
  color: var(--color-header) !important;
}
/* Privacy Policy */
.legalForm {
  padding: 1rem;
  margin: 2rem auto;
}
.policy-header,
.policy-footer {
  background-color: var(--color-text);
  box-shadow: unset;
}
.policy-footer span,
.policy-footer p {
  color: var(--color-header);
}
.header_menu-policy {
  background-color: initial;
  box-shadow: 0 0 4px 2px silver;
}
/* Return Form*/
.return-form p {
  color: var(--color-header);
}
.returns-address {
  text-decoration: underline;
}
.returns-list {
  list-style-type: square;
}
/* Blog */
.blog {
  max-width: 1000px;
  line-height: 1.5;
  padding: 1rem;
  margin: 2rem auto;
  letter-spacing: 1.5px;
}
.blog-title {
  margin: 1rem;
  text-align: center;
}
.blog-block {
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 0 0 4px 2px silver;
}
.blog-title h2,
.blog h2 {
  font-size: 3rem;
  color: silver;
  text-decoration: underline;
}
.blog p,
.blog li {
  color: white;
  font-size: 1.7rem;
}
.blog h2 {
  font-size: 2.5rem;
}
.blog h3,
.blog h4{
  font-size: 1.8rem;
  color: orange;
}
.blog h5 {
  color: red;
  font-size: 1.7rem;
}
.blog a {
  margin: 1rem;
  color: var(--color-block);
}
.open-circle {
  list-style: circle;
}
.blog-posts_container{
  max-width: 90rem;
  height: 48rem;
  padding: .5rem;
  margin: 3rem auto;
  text-align: center;
  box-shadow: none;
  background: inherit;
  letter-spacing: 1px;
  box-shadow: inset 0px 0px 10px 1px silver;
}
.blog-posts_wrapper{
  margin: 3rem;
  justify-content: space-evenly;
}
.blog-posts_container h2{
  margin: 0;
  font-size: 4rem;
  color: var(--color-block);
  border-radius: initial;
  border-bottom: 1px solid silver;
}
.blog-posts_img {
  max-width: 30rem;
}
.blog-posts_name{
  margin: .5rem;
}
.blog-posts_link:hover{
  opacity: .6;
}
/* Crunch */
#crunch {
  color: var(--color-block);
}
@media screen and (max-width: 700px) {
  .img-crunch {
    display: none;
  }
}
