html {
  font-size: 62.5%;
}
:root {
  --color-primary: #fc07cf;
  --color-secondary: #e622f0;
  --color-header: #0f0e0f;
  --color-text: #ffffff;
  --color-block: #63e9f3;
  --font-header: "El Messiri", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: var(--font-header);
  /*Possible color fill, background-color: #330033; */
  background-color: var(--color-header);
  /* Background by SVGbackgrounds.com */
  max-width: 1280px;
  margin: 0 auto !important;
}
.card__product::-webkit-scrollbar,
.shop--container::-webkit-scrollbar {
  width: 15px;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  scroll-padding: 2px;
}
.card__product::-webkit-scrollbar-track,
.shop--container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 grey;
  border-radius: 10px;
}
.card__product::-webkit-scrollbar-thumb,
.shop--container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.card__product::-webkit-scrollbar-corner,
.shop--container::-webkit-scrollbar-corner {
  display: none;
}
.card__product,
.shop--container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media screen and (min-width: 920px) {
  .card__product::-webkit-scrollbar,
  .shop--container::-webkit-scrollbar {
    display: none;
  }
}
@keyframes flickering {
  25% {
    transform: none;
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes lights {
  25% {
    transform: scale(1);
    color: blue;
  }
  50% {
    transform: scale(1);
    color: red;
  }
  75% {
    transform: scale(1);
    color: yellowgreen;
  }
  100% {
    transform: scale(1);
    color: orange;
  }
}
@keyframes carousel-1 {
  25% {
    transform: translate(-130px, -100%);
  }
  50% {
    transform: translate(0px, -200%);
  }
  75% {
    transform: translate(130px, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes carousel-2 {
  25% {
    transform: translate(130px, -100%);
  }
  50% {
    transform: translate(260px, 0%);
  }
  75% {
    transform: translate(130px, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes carousel-3 {
  25% {
    transform: translate(-130px, 100%);
  }
  50% {
    transform: translate(-260px, 0%);
  }
  75% {
    transform: translate(-130px, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes carousel-4 {
  25% {
    transform: translate(130px, 100%);
  }
  50% {
    transform: translate(0px, 200%);
  }
  75% {
    transform: translate(-130px, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
/* will be changing LI to .list, make changes once website is put together. */
.list {
  list-style-type: none;
  letter-spacing: 2px;
  padding: 0;
}
img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
video {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}
h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: silver;
}
h2 {
  font-size: 3.2rem;
  color: var(--color-primary);
}
h3 {
  font-size: 2rem;
}
h3 {
  color: cornsilk;
  color: var(--color-secondary);
  margin: 1rem auto;
}
p {
  font-size: 2rem;
  color: var(--color-text);
}
.badge {
  display: block;
  width: 50%;
  text-align: center;
  color: var(--color-text);
  border: 4px solid blue;
  border-radius: 20px;
  font-size: 2.5rem;
  padding: 4px 0 0;
  font-weight: 900;
  white-space: nowrap;
}
.lights {
  animation: lights 5s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-1 {
  animation: carousel-1 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-2 {
  animation: carousel-2 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-3 {
  animation: carousel-3 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.carousel-4 {
  animation: carousel-4 10s ease-out 1s infinite normal;
  animation-fill-mode: both;
}
.flickering {
  animation: flickering 2s 1s infinite normal;
  animation-fill-mode: both;
}
.grid {
  display: grid;
}
.grid--2 {
  display: grid;
  grid-template: repeat(3, 130px) / repeat(3, 130px);
}

.flex__box {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 90rem;
  background: var(--color-block);
  justify-items: center;
  text-align: center;
  letter-spacing: 2px;
  padding: 1.5rem;
  margin: 4rem auto;
  flex-direction: column;
  box-shadow: 0px 0px 20px 6px var(--color-primary);
  border-radius: 20px;
  place-self: center;
}
@media screen and (max-width: 940px) {
  .container {
    margin: 4rem 2rem;
  }
}
/* Header */
.header {
  background-color: var(--color-header);
  box-shadow: 0 0 10px 1px var(--color-primary);
  margin: 1rem;
  border-radius: 20px;
}
.btn {
  background-color: var(--color-secondary);
  border-style: none;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  padding: 8px;
}
.header__brand {
  padding-left: 1px;
}

.header__letter {
  color: var(--color-primary);
  border-right: 2px solid silver;
  margin-right: 2rem;
  font-size: 10rem;
  padding-right: 10px;
  margin-top: 3rem;
  margin-bottom: 0;
}
.header__zana {
  display: flex;
  justify-content: center;
}
.collection {
  font-size: 2rem;
  margin: 10px auto 5px;
  color: silver;
  text-align: center;
  letter-spacing: 8px;
}
.header__menu-grid {
  grid-template-columns: repeat(5, 1fr);
  margin: auto 2rem;
  font-size: 2rem;
  padding: 2rem;
  justify-content: center;
  column-gap: 2rem;
}
.header__menu-list {
  background-color: var(--color-block);
  box-shadow: 0 0 12px 2px var(--color-primary);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}
.header__icon {
  color: var(--color-secondary);
  margin-right: 0.5rem;
}
@media screen and (max-width: 390px) {
  .header__letter {
    font-size: 7rem;
  }
  .header__collection {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 868px) {
  .header__menu-grid {
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    row-gap: 2rem;
    /* margin: auto 15rem; */
  }
  .list__home {
    grid-column: span 2;
  }
}
/* Hero */
.hero {
  max-width: 70rem;
  background-color: var(--color-block);
  box-shadow: 0 0 20px 6px var(--color-primary);
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 4rem auto;
}
.hero__slogan h2 {
  background-color: whitesmoke;
  margin: auto 1rem;
  box-shadow: 0 0 20px 8px whitesmoke;
  border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
}
.hero__slogan h2::before {
  content: "#";
}
.hero__slogan .btn {
  display: inline-block;
  width: 17rem;
  height: 4rem;
  font-size: 2rem;
  margin: 10px 0 20px 0;
}
@media screen and (max-width: 730px) {
  .hero {
    flex-wrap: wrap;
    margin: 3rem 2rem;
  }
  .hero__img {
    width: 50%;
    max-width: 50%;
    margin: auto;
  }
  .hero__slogan h2 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 400px) {
  .hero__slogan h2 {
    font-size: 2.2rem;
  }
}
/* Autism Section */
.autism {
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 0.5rem;
}
.autism__speak {
  background-color: var(--color-header);
  border-radius: 20px;
}
.autism__speak-items em {
  color: var(--color-secondary);
}
.autism__speak-items #autism::after {
  content: "!";
  color: var(--color-secondary);
}
#autism,
#five {
  color: var(--color-text);
  font-size: 2.5rem;
}
.autism__speak-items {
  padding: 1rem;
}
.container--logo {
  display: inline-block;
}
#five::after {
  content: "%";
}
.autism h2 {
  margin-top: 0;
}
#hashtag {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
}
.autism__hashtag::before {
  content: "#";
  font-size: 3rem;
  color: var(--color-primary);
}
.autism__speak-items h2 {
  text-transform: capitalize;
}
.container--support {
  background-color: var(--color-header);
  border-radius: 20px;
  padding: 1rem;
}
.container--video {
  grid-row: span 2 / 1;
}
.container--video video {
  max-height: 50rem;
  box-shadow: 0 0 11px 4px #ffffff;
}
@media screen and (max-width: 780px) {
  .autism {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .autism {
    margin: 2rem;
  }
  .container--support h2 {
    font-size: 2rem;
  }
  .container--support p {
    font-size: 1.8rem;
  }
}
/* Carousel Block */
.carousel__container-img {
  flex: 1;
  justify-content: center;
}
.carousel__container-list {
  flex: 1;
  font-size: 3rem;
  padding: 1rem;
  line-height: 1.8;
  align-self: center;
}
.carousel__img {
  border: 2px solid var(--color-secondary);
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 0 0 30px var(--color-primary);
}
.carousel__list-template {
  color: var(--color-secondary);
  text-transform: capitalize;
  letter-spacing: 2px;
}
.star,
#immeasurable {
  color: turquoise;
}
.star {
  margin: 1rem;
}
.img-1 {
  grid-area: 3 / 2;
}
.img-2 {
  grid-area: 2;
}
.img-3 {
  grid-area: 2 / 3;
}
.img-4 {
  grid-area: 1 / 2;
}
@media screen and (max-width: 400px) {
  .carousel {
    flex-direction: column-reverse;
  }
  .carousel__container-img {
    grid-template: repeat(2, 130px) / repeat(2, 130px);
  }
  .carousel-1 {
    animation-name: none;
    grid-area: auto;
  }
  .carousel-2 {
    animation-name: none;
    grid-area: auto;
  }
  .carousel-3 {
    animation-name: none;
    grid-area: auto;
  }
  .carousel-4 {
    animation-name: none;
    grid-area: auto;
  }
}
@media screen and (max-width: 835px) {
  .carousel {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 437px) and (max-width: 584px) {
  .carousel__container-list {
    text-align: center;
  }
}
/* Magnifier Block */
.fabric--container {
  flex-direction: row;
  position: relative;
}
.magnifier {
  padding: 1rem;
  flex: 1;
}
.magnifier-1 {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border-radius: 20px;
  grid-row: 1;
}
.magnifier-2 {
  max-width: 18rem;
  border: 2px solid var(--color-secondary);
  border-radius: 100%;
  z-index: 2;
  filter: brightness(1.5);
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}
.magnifier__img {
  height: auto;
}
.fabric__explained {
  flex: 1;
  padding: 1rem;
  place-self: center;
  line-height: 1.3;
}
.fabric__types {
  text-transform: uppercase;
  font-size: 2rem;
  border: 2px solid;
  width: 20rem;
  border-radius: 20px;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  margin-left: 4px;
}
.fabric__explained h2 {
  text-transform: uppercase;
  font-size: 3rem;
}
.fabric__types:hover {
  opacity: 0.5;
}
@media screen and (max-width: 688px) {
  .fabric--container {
    flex-direction: column-reverse;
  }
  .magnifier-2 {
    max-width: 17rem;
  }
  .magnifier-2 {
    top: 84%;
    left: 16%;
    transform: translate(-16%, -84%);
  }
}
@media screen and (max-width: 768px) {
  .fabric__explained h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .magnifier-2 {
    max-width: 12rem;
  }
}
/* Shop */
.shop__collection {
  font-size: 4rem;
  text-align: start;
  margin: 4rem;
  touch-action: pan-y;
}
.shop--container {
  height: 51rem;
  min-height: min-content;
  flex-direction: row;
  overflow: auto;
  justify-content: space-evenly;
}
.shop__cards {
  transform: translate(20%, 0%);
  display: inherit;
  transition: 1s ease-in;
  touch-action: pan-x;
}
.card {
  width: 300px;
  height: 490px;
  margin: 0 4rem;
  background-color: var(--color-secondary);
  box-shadow: 7px 6px 2px 0px purple;
  transition: 0.3s;
  border-radius: 20px;
  flex: 1;
}
.card h2 h3 h4 {
  font-weight: 600;
}
.shop__card {
  padding: 1rem;
}
.card__product {
  width: 280px;
  height: 360px;
  background-color: var(--color-secondary);
  border-radius: 20px;
  box-shadow: inset 1px 1px 80px 24px lightgrey;
  overflow: hidden scroll;
  scroll-behavior: smooth;
}
.card__price {
  width: 28rem;
  height: 10rem;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  margin-top: 0.7rem;
  background-color: var(--color-header);
  box-shadow: inset 0 0 18px 1px silver;
}
.badge--price {
  font-size: 3rem;
  color: silver;
  flex: 1;
}
.card__btn {
  width: 10rem;
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  color: var(--color-header);
  box-shadow: inset 0 0 30px 2px white;
  padding: 4px;
  margin-right: 1rem;
}
.model:hover {
  margin-top: 10rem;
  margin-left: 1.5rem;
  transform: scale(1.5, 1.5);
}
.model {
  transition: scale 3s ease-in;
}
@media screen and (min-width: 1020px) {
  .shop__cards:hover {
    transform: translate(20%, 0%);
  }
}
@media screen and (max-width: 860px) {
  .shop__cards {
    transform: translate(30%, 0%);
  }
}
@media screen and (max-width: 700px) {
  .card--container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 570px) {
  .shop__cards {
    transform: translate(35%, 0%);
  }
}
@media screen and (max-width: 410px) {
  .shop__cards {
    transform: translate(40%, 0%);
  }
  .shop__collection {
    font-size: 3rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 340px) {
  .card {
    width: 28.5rem;
  }
  .card__product {
    width: 26.5rem;
  }
  .shop__card {
    margin-left: 0.5rem;
  }
  .model:hover {
    margin-left: 2rem;
  }
}
/* Form */
.form {
  flex-direction: row;
  text-align: start;
}
.form p {
  color: #0f0e0f;
}
.form__subscribe {
  flex: 1;
}
form {
  margin: 0 auto;
  line-height: 1.5;
  flex: 1;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-primary);
}
input[type="text"],
[type="email"] {
  width: 100%F;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  transition: border-color 0.15s, box-shadow 0.15s;
  font-size: 2.5rem;
  box-shadow: 0 0 10px 0 var(--color-primary);
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="text"]:focus {
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: inset 0 0 10px 0 var(--color-primary);
}
button {
  width: 12rem;
  font-size: 2.5rem;
  background: var(--color-text);
  color: var(--color-header);
  border: 0;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  outline: 0;
  margin-left: 1rem;
  box-shadow: inset 1px -1px 14px 6px lightgrey;
}
button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 638px) {
  .form {
    flex-direction: column;
  }
}
@media screen and (max-width: 430px) {
  input[type="text"],
  [type="email"] {
    font-size: 2rem;
  }
  label {
    font-size: 2rem;
  }
  button {
    width: 10rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .container {
    margin: 2rem;
  }
}
/* instagram-card */
.card--instagram {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.instagram {
  font-size: 6rem;
  margin-top: 16rem;
  color: var(--color-header);
}
.card--instagram h2,
.card--instagram h3 {
  color: var(--color-header);
}
.card--instagram h2 {
  font-size: 7rem;
  letter-spacing: 1.4rem;
  margin: 4.8rem 1rem 0.1rem;
}
.card--instagram h3 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 0;
}
.card--instagram h4 {
  font-size: 1.8rem;
  margin-top: 0;
}
.card--instagram p {
  margin-bottom: 0;
  margin-top: 1rem;
}
/* Footer */
.footer {
  height: 25rem;
  flex-direction: column-reverse;
  background-color: var(--color-header);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px var(--color-primary);
  margin: 1rem;
}
h5 {
  font-size: 3rem;
  color: #fc07cf;
  margin: 0 auto;
}
.footer__items {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-text);
  padding: 0;
}
.footer__item {
  display: inline-block;
  color: var(--color-primary);
  padding: 1rem;
  margin: 0.5rem auto;
}
.copy {
  flex: 1;
}
.copy,
.copy__reserved {
  color: var(--color-text);
  text-align: center;
  font-size: 1.5rem;
}
.footer__list {
  place-self: center;
  flex: 1;
}
@media screen and (max-width: 554px) {
  .footer {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 375px) {
  .footer__item {
    font-size: 1.8rem;
  }
}
